# Singularity containers (too big)
*.sif
# Singularity logs, build files w/o Tensorflow, etc.
singularity/*
!singularity/build.def

# Python cache
*__pycache__

# Output dirs
ae_out*

# Sensitive data
data/UKB*
test/test_parquet_converter/in/*UKB*.csv

# Runscripts
runs/

# The sandbox
x_misc/

# Other
environment.yml
