# Singularity containers (too big)
*.sif

# Python cache
*__pycache__

# Test outputs
test/test*/

# Output dirs
ae_out*

# Sensitive data
data/ukb*

# Toy runscripts
runs/run_localtest_*
# Logs
runs/logs/
singularity/oldlogs/

# The sandbox
x_misc/

# Other
environment.yml
